/* Reset + base */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    letter-spacing: 1px;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Quicksand', sans-serif;
    min-height: 100vh;
}

.gras {
    font-weight: bold;
}


/* Style des rendus visuels LaTex grâce à MathJax. La couleur sert à mieux intégrer l'expression mathématique avec la police Quicksand */
.MathJax.CtxtMenu_Attached_0 {
    color: rgb(85, 85, 85);
}


.menu-latéral {
    position: fixed;
    top: 0;
    left: -250px;
    /* largeur totale - poignée visible */
    width: 290px;
    height: 100%;
    background-color: #2e4a56;
    padding: 20px;
    transition: left 0.3s ease-in-out;
    z-index: 999;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-latéral ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.menu-latéral li a,
.accueil a {
    color: white;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    padding: 10px;
    display: block;
    transition: background 0.3s;
}

.menu-latéral li a:hover {
    background-color: #4d6d7d;
    border-radius: 8px;
}

.menu-latéral.active {
    left: 0;
}

/* Poignée du menu */
.taq {
    position: absolute;
    top: 20px;
    right: -40px;
    width: 40px;
    height: 40px;
    background-color: #2e4a56;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 22px;
}

.accueil a {
    text-align: center;
    text-decoration: underline;
}


h1 {
    text-align: center;
    color: black;
}

.titre {
    width: 100%;
    border-bottom: 1px solid black;
    padding: 40px;
}

p,
.enumeration {
    padding-left: 60px;
    padding-right: 40px;
    padding-top: 20px;
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.5;
}

.enumeration {
    padding-left: 100px;
}


/* Image d'accueil en fond */
.image-fond {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.image-fond img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* def.html */
.tableau {
    max-width: 80%;
    height: auto;
}

.centre {
    display: flex;
    justify-content: center;
}

/* raccourcis.html */
.tableau-raccourcis {
    background-color: white;
    padding: 20px;
    padding-left: 65px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

th,
td {
    border: 1px solid #ccc;
    padding: 12px 16px;
    font-size: 1.2rem;
    height: 60px;
}

th {
    background-color: #e6e6e6;
}