* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    letter-spacing: 1px;
}


html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}


body {
    font-family: 'Quicksand';
    background-color: rgb(38 82 99);
    min-height: 100vh;
}


/* ==============================
   /* Style pour la page d'accueil index.html 
   ============================== */

.image-fond {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.image-fond img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}