/* Reset + base */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    letter-spacing: 1px;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Quicksand', sans-serif;
    min-height: 100vh;
}

h1 {
    text-align: center;
    color: black;
    padding: 40px;
}

p,
.enumeration {
    padding-left: 60px;
    padding-right: 40px;
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.5;
}

.enumeration {
    padding-left: 100px;
}



/* Image d'accueil en fond */
.image-fond {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.image-fond img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.menu-latéral {
    position: fixed;
    top: 0;
    left: -220px;
    /* largeur totale - poignée visible */
    width: 260px;
    height: 100%;
    background-color: #2e4a56;
    padding: 20px;
    transition: left 0.3s ease-in-out;
    z-index: 999;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-latéral ul {
    list-style: none;
}

.menu-latéral.active {
    left: 0;
}

/* Poignée du menu (toujours visible) */
.taq {
    position: absolute;
    top: 20px;
    right: -40px;
    width: 40px;
    height: 40px;
    background-color: #2e4a56;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 22px;
}

/* Liste du menu */
.menu-latéral ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-latéral li a {
    color: white;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    padding: 10px;
    display: block;
    transition: background 0.3s;
}

.menu-latéral li a:hover {
    background-color: #4d6d7d;
    border-radius: 8px;
}